<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= student.father_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Martial status:</strong>
    <%= student.martial_status %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= student.nationality %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= student.dob %>
  </p>

</div>
