<%= bootstrap_form_with(model: [@department, registration], local: true, data: {turbo: false}) do |form| %>
  <div class="bg-white p-4 my-4">
  
    <% if registration.errors.any? %>
      <div style="color: red">
        <ul>
          <% registration.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render "registrations/steps/#{registration.current_step}_step", form: form %>
  </div>

  <div>
    <%= form.submit registration.confirmation_step? ? "Create Registration" : "Next", class: "btn btn-primary" unless registration.last_step? %>
    <%= form.submit "Back", name: "back_button", class: "btn btn-primary" unless registration.first_step? %>
  </div>
<% end %>
