<div id="<%= dom_id registration %>">
  <p>
    <strong>Student:</strong>
    <%= registration.student_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= registration.grade %>
  </p>

  <p>
    <strong>Academic year:</strong>
    <%= registration.academic_year %>
  </p>

  <p>
    <strong>Class uear:</strong>
    <%= registration.class_uear %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= registration.semester %>
  </p>

  <p>
    <strong>Teaching:</strong>
    <%= registration.teaching_id %>
  </p>

</div>
