<div>
    <%= form.text_field :course_name, hide_label: true, placeholder: "Course Name" %>
</div>

<div>
    <%= form.number_field :credit_hour, hide_label: true, placeholder: "Credit Hour" %>
</div>

<div>
    <%= form.number_field :ects, hide_label: true, placeholder: "Ects" %>
</div>

<div>
    <%= form.select :class_year, Course.class_years.keys.map { |c| [c, c] }, {:prompt => "--select class year--", hide_label: true} %>
</div>

<div>
    <%= form.select :semester, Course.semesters.keys.map { |s| [s, s] }, {:prompt => "--select semester--", hide_label: true} %>
</div>