<div id="<%= dom_id course %>">
  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Credit hour:</strong>
    <%= course.credit_hour %>
  </p>

  <p>
    <strong>Ects:</strong>
    <%= course.ects %>
  </p>

  <p>
    <strong>Prerequisite:</strong>
    <%= course.prerequisite %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= course.department_id %>
  </p>

</div>
