<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= link_to "Edit this course", edit_department_course_path(@department, @course) %> |
  <%= link_to "Back to courses", department_courses_path(@department) %>

  <%= button_to "Destroy this course", department_course_path(@department, @course), method: :delete %>
</div>
