<!DOCTYPE html>
<html>
  <head>
    <title>StudentRegistration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  
  <body class="bg-body-secondary" >
    <div class="">
      <div class="position-fixed vh-100">
        <% if user_signed_in? %>
          <header class="vh-100">
            <%= render 'layouts/navigation' %>
              <%#= link_to "Sign out",  destroy_user_session_path, 'data-turbo-method': :delete %>
          </header>
          <%= render "shared/flash_notice" %>
        <% end %>
      </div>

      <div class="" style="<%= 'margin-left: 264px;' if user_signed_in? %>">
        <div class="pt-3 px-5 min-vh-100">
          <%= yield %>
        <div>
        <%= turbo_frame_tag "turbomodal" %>
      </div>
    </div>
  </body>
</html>
